@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

@media (prefers-color-scheme: dark) {
  .warp-extension {
    --background: #221e28;
    --border: #3c323a;
    --text: #f1f1f1;
    --text-2: #c5c6ca;
    --text-3: #a5a5ae;
    --select: #352a45;
    --accent: #7236b7;
    --accent-hover: #5e2a99;
    --shortcut: #383e4a;
    --placeholder: #63687b;
    --background-2: #292d36;
  }
}

@media (prefers-color-scheme: light) {
  .warp-extension {
    --background: #fafcff;
    --border: #f2f3fb;
    --text: #2b2d41;
    --text-2: #2b2d41;
    --text-3: #929db2;
    --select: #eff3f9;
    --accent: #6068d2;
    --accent-hover: #484fac;
    --shortcut: #dadeea;
    --placeholder: #bac2d1;
    --background-2: #292d36;
  }
}

.warp-extension {
  font-family: Inter, Helvetica, serif !important;
  z-index: 99999999999;

  &.warp-closing {
    #warp {
      transform: scale(0.9);
      opacity: 0;
    }
  }

  * {
    display: block;
    width: unset;
    box-shadow: unset;
    padding: unset;
    margin: unset;
    background-color: unset;
    border-radius: unset;
  }

  #warp-wrap {
    position: fixed;
    width: 700px;
    border: 1px solid transparent;
    border-radius: 5px;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999999999;
    height: 540px;
    transition: all 0.2s cubic-bezier(0.05, 0.03, 0.35, 1);
    pointer-events: all;
  }

  #warp {
    position: absolute;
    width: 100%;
    background: var(--background);
    border-radius: 5px;
    top: 0;
    left: 0;
    z-index: 9999999998;
    height: fit-content;
    transition: all 0.2s cubic-bezier(0.05, 0.03, 0.35, 1);
    display: block;
  }

  #warp-list {
    max-height: 400px;
    border-block-start: 1px solid var(--border);
    border-block-end: 1px solid var(--border);
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
  }

  .warp-item {
    height: fit-content;
    display: flex;
    align-items: center;
    min-height: 60px;
    gap: 0.6rem;
    padding-inline: 1rem;

    &.warp-item-active {
      &:before {
        height: 60px;
        position: absolute;
        display: block;
        content: "";
        width: 2px;
        left: 0;
        background-color: var(--accent);
      }
    }

    .warp-item-details * {
      line-height: normal;
    }
  }

  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(127, 127, 127, 0.6);
    background-clip: padding-box;
    border: 2px solid transparent;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb:vertical:hover,
  &::-webkit-scrollbar-thumb:horizontal:hover {
    background-color: rgb(110, 110, 110);
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb:vertical:active,
  &::-webkit-scrollbar-thumb:horizontal:active {
    background: rgba(95, 91, 91, 1);
  }

  &::-webkit-scrollbar-corner {
    background: none;
  }
}

.warp-closing {
  pointer-events: none;
  display: none !important;
}

.warp-extension #warp-overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000;
  z-index: 9999;
  opacity: 0.6;
  transition: all 0.1s cubic-bezier(0.05, 0.03, 0.35, 1);
}

.warp-closing #warp-overlay {
  opacity: 0 !important;
}

.warp-extension #warp-head {
  height: 50px;
  line-height: 50px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid var(--border);
}

.warp-extension #warp-name {
  color: var(--text);
  font-size: 12px;
  font-weight: 600;
  float: left;
}

.warp-extension #warp-close {
  color: var(--text-3);
  float: right;
  font-size: 12px;
  font-weight: 500;
}

.warp-extension #warp-close span {
  margin-left: 3px;
}

.warp-extension .warp-shortcut {
  display: inline-block !important;
  font-size: 13px;
  border-radius: 5px;
  background-color: var(--shortcut);
  color: var(--text);
  text-align: center;
  height: 20px;
  line-height: 20px;
  min-width: 20px;
  padding-left: 3px;
  padding-right: 3px;
}

.warp-extension input {
  background: transparent;
  border: 0;
  outline: none;
  font-size: 20px;
  font-weight: 400;
  height: 50px;
  width: 92%;
  display: block;
  color: var(--text);
  caret-color: var(--accent);
  font-family: Helvetica, serif !important;
  margin: 5px auto;
  box-sizing: border-box;
  box-shadow: none;
}

.warp-extension ::placeholder {
  color: var(--placeholder);
  opacity: 1;
}

.warp-extension :-ms-input-placeholder {
  color: var(--placeholder);
}

.warp-extension ::-ms-input-placeholder {
  color: var(--placeholder);
}

.warp-extension .warp-item:hover {
  cursor: pointer;
}

.warp-extension .warp-item-active {
  background-color: var(--select);
  position: relative;
}

.warp-extension .warp-select {
  float: right;
  vertical-align: middle;
  color: var(--text-3);
  font-size: 12px;
  font-weight: 500;
  display: none;
  margin-top: 20px;
  margin-right: 5%;
}

.warp-extension .warp-select span {
  margin-left: 3px;
}

.warp-extension .warp-item-active .warp-select {
  display: block !important;
}

.warp-extension .warp-icon {
  width: 20px;
  height: 20px;
  margin-left: 5%;
  display: inline-block;
  vertical-align: middle;
  margin-top: -12px;
}

.warp-extension .warp-icon-action {
  display: inline-block;
  width: 20px;
  height: 20px;
  font-size: 18px;
}

.warp-extension .warp-item-details {
  display: flex;
  flex-direction: column;
  gap: 0.35rem;
  flex-grow: 1;
  width: calc(100% - 1rem);
}

.warp-extension .warp-item-name {
  color: var(--text-2);
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: calc(100% - 1rem);
}

.warp-extension .warp-item-active .warp-item-name {
  color: var(--text) !important;
}

.warp-extension .warp-item-desc {
  color: var(--text-3);
  margin-top: 5px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: calc(100% - 1rem);
}

.warp-extension #warp-footer {
  height: 45px;
  line-height: 45px;
  width: 92%;
  margin-left: auto;
  margin-right: auto;
}

.warp-extension #warp-results {
  color: var(--text-3);
  font-size: 12px;
  font-weight: 500;
  float: left;
}

.warp-extension #warp-arrows {
  color: var(--text-3);
  font-size: 12px;
  font-weight: 500;
  float: right;
}

.warp-extension #warp-arrows span {
  margin-left: 3px;
  margin-right: 3px;
}

.warp-extension .warp-keys {
  float: right;
  vertical-align: middle;
  font-weight: 500;
  margin-top: 20px;
  margin-right: 5%;
}

.warp-extension .warp-item-active .warp-keys {
  display: none !important;
}

.warp-extension .warp-keys span {
  margin-left: 3px;
}

#warp-extension-toast {
  text-align: center;
  font-family: Helvetica, serif;
  font-weight: 500;
  font-size: 14px;
  position: fixed;
  width: fit-content;
  color: var(--text);
  bottom: 10px;
  left: 0;
  right: 0;
  margin: auto;
  background: var(--background);
  border-radius: 5px;
  height: 40px;
  line-height: 40px;
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s cubic-bezier(0.05, 0.03, 0.35, 1);
  z-index: 99999999;
}

#warp-extension-toast img {
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
  margin-bottom: 2px;
}

.warp-show-toast {
  bottom: 20px !important;
  opacity: 1 !important;
  visibility: visible !important;
}
